<!--The content below is only a placeholder and can be replaced.-->
<section id="header">
  <div>
    <img alt="Angular Logo" src="/assets/images/kav-vinyl-logo-only.png">
  </div>
</section>
<section id="intro">
  <div class="intro-content">
    <p class="first">Thank you for joining us!</p>
    <p class="second">We are a Dallas based vinyl botique. We buy, sell and trade eccentric and groovy records.</p>
  </div>
</section>
<section id="action">
  <h2>stay updated</h2>
  <form class="">
    <div class="form-group">
      <input type="email" name="" value="" placeholder="Enter your email">
    </div>
  </form>
</section>

<router-outlet></router-outlet>
