<!--The content below is only a placeholder and can be replaced.-->
<section id="header">
  <div>
    <img alt="Angular Logo" src="/assets/images/kav-vinyl-logo-only.png">
  </div>
</section>
<section id="intro">
  <div class="intro-content">
    <p class="first">Join us!</p>
    <p class="second">We are a Dallas based vinyl botique. We buy, sell and trade eccentric and groovy records.</p>
  </div>
</section>
<section id="action">
  <h2>Stay updated.</h2>
  <!-- <form class="">
    <div class="form-group">
      <input type="email" name="" value="" placeholder="Enter your email">
    </div>
  </form> -->

  <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://vinylkav.us18.list-manage.com/subscribe/post?u=e8b83a2a3ac8c6afc5e7e9f01&amp;id=024f212758" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
          	<!-- <label for="mce-EMAIL">Email Address </label> -->
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
          </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e8b83a2a3ac8c6afc5e7e9f01_024f212758" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
          </div>
        </form>
    </div>

    <!--End mc_embed_signup-->
</section>

<router-outlet></router-outlet>
